@import "./reset.css";

:root {
    --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Jost", sans-serif;
    --nav-font: "Poppins", sans-serif;
}


/* ===== 공통 ===== */
.sb-section * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sb-section body {
  background-color: #f5f6f8;
  color: #444;
  line-height: 1.6;
}

.sb-section a {
  text-decoration: none;
  color: #47b2e4;
}

.sb-section a:hover {
  color: #209dd8;
}

/* ===== 컨테이너 ===== */
.sb-section .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ===== 섹션 공통 ===== */
.sb-section section {
  padding: 60px 0;
  background-color: #fff;
}

.sb-section .section-title {
  text-align: center;
  margin-bottom: 40px;
}

.sb-section .section-title h2 {
  font-family: var(--heading-font) ;
  font-size: 32px;
  font-weight: 700;
  color: #37517e;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.sb-section .underline {
  display: flex;
  width: 160px;
  margin: 7px auto 0;
  align-items: center;
  justify-content: center;
}

.sb-section .underline .line {
  flex: 1;
  background-color: #ddd;
  height: 2px; 
}

.sb-section .underline .line.blue {
  flex: 1.2;
  background-color: #47b2e4;
  height: 3px;  
}

.sb-section .section-title p {
  color: #444444;
  max-width: 700px;
  margin: 20px auto 60px;
  font-family: var(--default-font);
  margin-bottom: 50px;
}

/* ===== Recent Blog Posts Section ===== */
.sb-section .recent-posts-section {
  background-color: #f5f6f8;
  padding: 60px 0;
}

.sb-section .posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 416px);
  gap: 25px;
  justify-content: center;
}

.sb-section .post-card {
  height: 481.14px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.09);
}

.sb-section .post-image {
  flex: 0 0 277.27px;
  overflow: hidden;
  position: relative;
}

.sb-section .post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.sb-section .post-card:hover .post-image img {
  transform: scale(1.1);
}

.sb-section .post-date {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #47b2e4;
  color: #fff;
  font-size: 13px;
  padding: 10px 12px;
  font-weight: 500;
  font-family: var(--default-font);
}

.sb-section .post-content {
  flex-grow: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  margin-top: 8px;
}

.sb-section .post-card:hover .post-content h3, .post-card:hover .read-more {
  color: #47b2e4;
}

.sb-section .post-content h3 {
  font-size: 20px;
  color: #37517e;
  margin-bottom: 15px;
  font-weight: 700;
  margin-top: -10px;
  font-family: var(--heading-font);
  line-height: 1.2;
}

.sb-section .post-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
  color: #ababab;
  margin-bottom: 10px;
  max-width: 80%;
  margin-left: -10px;
  font-family: var(--default-font);
}

.sb-section .post-meta .meta-item {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.sb-section .post-meta .meta-item svg{
  margin-right: 10px;
  fill:#47b2e4
}

.sb-section .post-meta .meta-separator {
  padding: 0 5px;
}

.sb-section .post-thin-divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #f5f5f5;
  margin: 20px 0;
  flex: 0 0 auto;
  margin-top: 10px;
  margin-bottom: 4px;
}

.sb-section .read-more {
  display: inline-flex;
  align-items: center;
  gap: 6px;      
  color: #8b8b8b;
  font-weight: 510;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 1.8;
  padding: 5px 0;
  font-family: var(--default-font);
}

.sb-section .read-more:hover {
  color: #47b2e4;
}

.sb-section .read-more svg {
   position: relative;
  fill: currentColor;
  transition: fill 0.3s;
  top: 2px;
}

/* ===== Contact Section ===== */
.sb-section .contact-section .container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

/* Contact Row */
.sb-section .contact-row {
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
}

/* Box Styles */
.sb-section .contact-info, .contact-form {
  background-color: #fff;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  padding: 30px;
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  max-height: 604.12px;
}

.sb-section .contact-info {
  flex: 1 1 38%;
  min-width: 400px;
}

.sb-section .contact-form {
  flex: 1 1 55%;
  min-width: 500px;
}

.sb-section .contact-form label {
  margin-bottom: 10px;
  font-size: 16px;
  color: #444444;
  font-weight: 400;
  font-family: var(--default-font);
}

.sb-section .contact-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sb-section .contact-form .form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

/* Contact Items */
.sb-section .contact-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding-bottom: 30px;
  border-bottom: none;
}

.sb-section .contact-item:last-child {
  border-bottom: none;
}

.sb-section .contact-icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #f1faff; 
  border-radius: 50%; 
  flex-shrink: 0;
}

.sb-section .contact-item svg {
  height: 20px;
  width: 20px;
  color: #47b2e4;
  flex-shrink: 0;
}

.sb-section .contact-icon-circle:hover {
  background-color: #47b2e4;
  transition: background-color 0.3s ease;
}

.sb-section .contact-icon-circle:hover svg {
  color: #fff;
  transition: color 0.3s ease;
}

.sb-section .contact-item h4 {
  margin: 4px 0 20px 0;
  font-size: 18px;
  color: #37517e;
  font-weight: bold;
  font-family: var(--heading-font);
}

.sb-section .contact-item p {
  margin: 4px 0 10px 0;
  color: #444444;
  font-size: 14px;
  margin-top: -10px;
  font-family: var(--default-font);
}

/* Map */
.sb-section .contact-map iframe {
  width: 100%;
  height: 270px;
  border: 0;
}

/* Form */
.sb-section .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sb-section .contact-form .form-row {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.sb-section .contact-form .form-row .form-group {
  flex: 1 1 48%;
  display: flex;
  flex-direction: column;
}

.sb-section .contact-form .form-row input {
  flex: 1 1 45%;
}

.sb-section .contact-form input, .contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: var(--default-font);
}

.sb-section .contact-form input:focus, .contact-form textarea:focus {
  border: 1px solid #47b2e4; 
  outline: none;
}

.sb-section .contact-form textarea {
  resize: vertical;
  min-height: 220px;
}

.sb-section .contact-form button {
  background-color: #47b2e4;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 16.5px;
  font-weight: 300px;
  transition: background-color 0.3s;
  align-self: center;
  width: 166.71px;
  height: 44px;
  margin-top: 5px;
  font-family: var(--default-font);
}

.sb-section .contact-form button:hover {
  background-color: #6fcef7;
}

/* Responsive */
@media (max-width: 992px) {
  .contact-row {
    flex-direction: column;
    align-items: center;
    gap: 20px
  }

  .contact-info, .contact-form {
    width: 90%;
    max-width: 696px;
    min-width: auto;  
    box-sizing: border-box;
  }
}


/* ===== Footer Section ===== */
/*위쪽 회색*/
.sb-section .newsletter-section {
  text-align: center;
  margin-bottom: 8px;
  background-color: #f5f6f8;
}

.sb-section .newsletter-section h3 {
  font-size: 24px;
  color: #37517e;
  margin-bottom: 18px;
  margin-top: -15px;
  font-weight: bold;
  font-family: var(--heading-font);
}

.sb-section .newsletter-section p {
  max-width: 800px;
  margin: 0 auto 25px;
  color: #5e5e5e;
  font-size: 14px;
  font-family: var(--default-font);
}

.sb-section .newsletter-section form {
  position: relative;
  max-width: 630px;
  margin: 0 auto;
  height: 43px;
  background-color: #fff;
  border-radius: 9999px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  padding-right: 0; 
  border: none;
  overflow: visible; 
}

.sb-section .newsletter-section input {
  flex: 1;
  border: none;
  padding: 0 20px;
  font-size: 16px;
  background-color: transparent;
  color: #444444;
  outline: none;
  height: 100%;
  font-family: var(--default-font);
}

.sb-section .newsletter-section input:focus {
  outline: none;
  border: none;
}

.sb-section .newsletter-section button {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  padding: 0 22px;
  height: 50px;
  background-color: #47b2e4;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: calc(100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--default-font);
}

.sb-section .newsletter-section button:hover {
  background-color: #6fcef7;
}

/*아래쪽 흰색*/
.sb-section .footer-section {
  background-color: #fff;
  color: #444;
  padding: 40px 0 20px;
}


.sb-section .footer-section .container {
  max-width: 1350px;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sb-section .footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 50px;
  flex-wrap: nowrap;
}


.sb-section .footer-content h4 {
  font-size: 17px;
  color: #37517e;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: var(--heading-font);
}

.sb-section .footer-about,.footer-links,.footer-services,.footer-social {
  padding: 0;
}

.sb-section .footer-about {
  flex: 2 2 0;
  margin-right: 20px;
}
.sb-section .footer-links {
  flex: 1 1 0;
  margin-right: 20px;
}
.sb-section .footer-services {
  flex: 1 1 0;
  margin-right: 20px;
}
.sb-section .footer-social {
  flex: 2 2 0;
  margin-right: 0px;
}

.sb-section .footer-about h4 {
  font-size: 28px;
}

.sb-section .footer-content p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.6;
}

.sb-section .footer-about p {
  margin-bottom: 0;
  line-height: 1.8;
}

.sb-section .footer-about p:first-of-type {
  margin-bottom: 20px;
}

.sb-section .footer-list-icon {
  width: 12px;
  height: 12px;
  margin-right: 0;
  vertical-align: middle;
  fill: #47b2e4;
}

.sb-section .footer-links ul, .footer-services ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sb-section .footer-links li, .sb-section .footer-services li {
  margin-bottom: 17px;
}

.sb-section .footer-links a, .sb-section .footer-services a , .sb-section .footer-social a{
  color: #777;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 400;
  font-size: 14px;
}

.sb-section .footer-links a:hover, .sb-section .footer-services a:hover {
  color: #47b2e4;
}

.sb-section .footer-about .highlight {
  font-weight: bold;
  color: #444444;
  font-family: var(--default-font);
}


/* Social area text */
.sb-section .footer-social ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sb-section .footer-social li {
  margin-top: 8px;
}

.sb-section .footer-social a {
  color: #444;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  font-family: var(--default-font);
}

.sb-section .footer-social a:hover {
  color: #47b2e4;
}

.sb-section .social-icons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
}

.sb-section .footer-thin-divider {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 1px;
  background-color: #efefef;
  flex: 0 0 auto;
}


.sb-section .footer-bottom {
  text-align: center;
  padding-top: 30px;
  font-size: 14px;
  color: #444;
  margin-bottom: 30px;
  font-family: var(--default-font);
}

.sb-section .footer-bottom p:nth-child(1) {
  font-size: 14px;
  color: #444;
  margin-bottom: 15px;
  font-family: var(--default-font);
}

.sb-section .footer-bottom p:nth-child(2) {
  font-size: 13px;
  color: #444;
  margin-top: 0;
  font-family: var(--default-font);
}

 .sb-section .footer-bottom .highlight {
  font-weight: bold;
  color: #444444;
  font-family: var(--default-font);
}


.sb-section .footer-credit-link {
  color: #47b2e4;
  cursor: pointer;
  transition: color 0.3s;
}

.sb-section .footer-credit-link:hover {
    color: #95ddfc;
}

.sb-section .footer-icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #777;
  border-radius: 50%;
  transition: all 0.3s;
  background-color: transparent;
  overflow: hidden;
}

.sb-section .footer-icon-circle svg {
  width: 18px;
  height: 18px;
  fill: #777;
  transition: fill 0.3s;
}

.sb-section .footer-icon-circle:hover {
  border-color: #47b2e4;
}

.sb-section .footer-icon-circle:hover svg {
  fill: #47b2e4;
}